.box {
  width: 100%;
  max-width: 900px;
  background: $white;
  margin-bottom: 2.5rem;
  overflow: hidden;
  flex-shrink: 0;

  &.show {
    background: $yellow;
  }

  // + .box {
  //   margin-top: 2.5rem;
  // }

  .material-icons {
    vertical-align: middle;
    font-size: 2rem;
    user-select: none;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      margin-top: 2rem;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 1rem;

    &__title {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;

      h1 {
        margin: 0;
        font-size: 2.25rem;
        color: $headings;
        font-weight: $fw-bold;
        white-space: nowrap;
        overflow: hidden;
    		text-overflow: ellipsis;
      }

      .open-extern {
        text-decoration: none;
        font-size: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-self: flex-start;
        margin-left: .5rem;

        i {
          font-size: 1.2rem;
          transition: color .25s $cubic;
          color: $lighttypo;
        }

        &:hover {
          i {
            color: darken($lighttypo, 10%);
          }
        }
      }

      > i {
        margin-left: 1rem;
        align-self: center;
      }
    }

    .delete-client {
      width: 3rem;
      height: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background .25s $cubic;

      a {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
      }

      i {
        transition: color .25s $cubic;
      }

      &:hover {
        background: darken($white, 5%);

        i {
          color: $error;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    .entry {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      padding: 1rem 0 0;
      border-bottom: 1px solid $lighttypo;

      &__title {
        flex: 1;
        color: $typo;
        font-size: 1.5rem;
        font-weight: $fw-bold;
        margin-bottom: .5rem;

        a {
          text-decoration: none;
        }
      }

      &__date {
        color: $lighttypo;
        font-size: 1rem;
        margin-bottom: .5rem;
        font-weight: $fw-bold;
        margin-right: 2rem;

        &.outdated {
          color: $yellow;
        }
      }

      .control {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background .25s $cubic;

        a {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
        }

        &:hover {
          background: darken($white, 5%);

          &.entry__control--edit {
            i {
              color: darken($lighttypo, 30%);
            }
          }
          &.entry__control--delete {
            i {
              color: $error;
            }
          }
        }

        + .control {
          margin-left: .5rem;
        }

        i {
          transition: color .25s $cubic;
        }
      }

      &__control {

        &--edit {

        }

        &--delete {

        }
      }
    }
  }
}
