.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  line-height: 3rem;
  background: $main;
  padding: 0 1rem;
  color: $white;
  text-decoration: none;
  font-size: 1.25rem;
  transition: background .25s $cubic, box-shadow .25s $cubic, transform .25s $cubic;
  box-shadow: $depth-2;
  transform: translateY(0);
  user-select: none;

  &:hover {
    background: lighten($main, 5%);
    box-shadow: $depth-3;
    transform: translateY(-1px);
  }

  &:active {
    background: darken($main, 4%);
    box-shadow: $depth-1;
    transform: translateY(1px);
  }
}
